
/* font section start......
............................ */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    margin: 0;
}

/* shared style items...........
................................ */

.display-flex{
    display: flex;
}


/* header section start.......... */

header{
    /* background-color: antiquewhite; */
}


.header-sub{
    max-width: 1200px;
    border: 2px solid red;
    margin: 0 auto;
}


/* Nav section start...........
............................... */



.navbar{
    justify-content: space-between;
    align-items: center;
}

.items-container{
    justify-content: space-between;
    gap: 30px;
    /* border: 2px solid red; */
    list-style: none;
}

.nav-title{
    font-size: 1.8rem;
    color:rgba(58, 58, 58, 1);
    font-weight: 700;
    
}

.item-text{
    text-decoration: none;
    color:rgba(58, 58, 58, 1);
    font-size: 1rem;
    font-weight: 500;
}

/* hero section start........ */

.hero-container{
    justify-content: space-between;
    align-items: center;
}

.hero-title-text{
    font-size:3.25rem;
    color:rgba(58, 58, 58, 1);
    line-height: 52px;
    font-weight: 700;
}

.hero-passage{
    font-size: 1rem;
    color:rgba(58, 58, 58, 1);
    font-weight: 500;
}

.primary-btn{
    background-color:rgba(224, 44, 109, 1);
    border-radius: 41px;
    padding:10px 10px;
    width: 196px;
    height: 44px;
    color:rgba(255, 255, 255, 1);
    border: none;
}


/* hero image section.............. */

.hero-image-section{
    background-image: url(./images/Circle111\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-right:50px; */
    /* width:33%; */
    
}

.hero-image{
    padding:20px;
}






/* small device version ..........
.................................. */

@media screen and (max-width:576px) {
    
    .navbar{

        flex-direction: column;
    }

    .items-container{
        flex-direction: column;
        gap: 5px;
    }

/* hero section */

.hero-container{
    flex-direction: column-reverse;
}

.hero-image-section{
  width:82%;
  background-repeat:no-repeat;
  /* border: 2px solid red; */

   
}

.hero-image{
    width: 100%;
}

.hero-title{
    margin-top:20px;
    text-align: center;
}

}


/* medium device like  tablet mode */

@media screen and (min-width:576px) and (max-width:992px) {
    
    .hero-container{
        flex-direction: column;
        
    }

    .hero-title{
    text-align: center;
}

    .hero-image-section{
    margin-top: 50px;
}

}